# Project : Data Preprocessing.

In [1]:
#importing some useful libraries.
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
#pd.read_csv is used to read a csv file and convert it into a DataFrame.
dfsubscribers=pd.read_csv("SubscribersData.csv")

In [3]:
#head() & tail() are used to view a Topmost and bottommost rows.
dfsubscribers.head()

,SubscriberIdentityNumber,Phone Number,Subscriber Name,SSN,Subscriber Age,State,Zip Code,SubscribedFromDate,Internet Service,SMS Service,Churn Status
0,345278656547333,1654788999,Mike,214448881,25,Arizona,85005,1/12/2018,Active,Active,Active
1,345278666547334,1888777222,John,214448882,15,Florida,33130,12/12/2018,Active,Active,Active
2,345278676547335,1122765445,James,214448883,45,Newyork,10005,5/25/2018,Active,Active,Active
3,345278686547336,10,Robert,214448884,62,Newyork,10006,11/5/2017,InActive,NaN,Active
4,345278696547337,1590741891,Thomas,214448885,15,Newyork,10007,4/18/2017,Active,Active,NaN

In [4]:
#return a shape of the DataFrame as a Tuple.
dfsubscribers.shape

(505, 11)

In [5]:
#Return total no. of entities.
dfsubscribers.size

5555

In [6]:
#Tells Us about a particular column with how many filled entities and of which Datatype.
dfsubscribers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   SubscriberIdentityNumber  505 non-null    int64
 1   Phone Number              505 non-null    int64
 2   Subscriber Name           505 non-null    object
 3   SSN                       505 non-null    int64
 4   Subscriber Age            505 non-null    int64
 5   State                     505 non-null    object
 6   Zip Code                  505 non-null    int64
 7   SubscribedFromDate        505 non-null    object
 8   Internet Service          505 non-null    object
 9   SMS Service               501 non-null    object
 10  Churn Status              499 non-null    object
dtypes: int64(5), object(6)
memory usage: 43.5+ KB

In [7]:
#Provides a statistical calculation on all the numerical values in a dataframe.
dfsubscribers.describe()

,SubscriberIdentityNumber,Phone Number,SSN,Subscriber Age,Zip Code
count,5.050000e+02,5.050000e+02,5.050000e+02,505.000000,505.000000
mean,3.452812e+14,1.513510e+09,2.144491e+08,38.572277,33571.891089
std,1.458411e+09,1.396134e+08,1.458410e+02,14.192946,17933.348377
min,3.452787e+14,1.000000e+01,2.144489e+08,15.000000,7039.000000
25%,3.452799e+14,1.526695e+09,2.144490e+08,30.000000,10017.000000
50%,3.452812e+14,1.526695e+09,2.144491e+08,36.000000,44115.000000
75%,3.452824e+14,1.526695e+09,2.144493e+08,44.000000,44140.000000
max,3.452836e+14,1.888777e+09,2.144494e+08,78.000000,85005.000000

# Missing Values---------

In [8]:
#df.replace() method is used to replace an empty spaces with value NaN.
dfsubscribers.replace('', np.NaN, inplace=True)

In [9]:
#returns a list of total N.A. or missing values in a particular Column.
dfsubscribers.isna().sum()

SubscriberIdentityNumber    0
Phone Number                0
Subscriber Name             0
SSN                         0
Subscriber Age              0
State                       0
Zip Code                    0
SubscribedFromDate          0
Internet Service            0
SMS Service                 4
Churn Status                6
dtype: int64

In [10]:
#fillna() Method to fill a vacant spaces in a dataFrame.
dfsubscribers["SMS Service"].fillna("Active", inplace=True)
dfsubscribers["Churn Status"].fillna("Active", inplace=True)

In [11]:
#returns count of missing values in every column.
dfsubscribers.isna().sum()

SubscriberIdentityNumber    0
Phone Number                0
Subscriber Name             0
SSN                         0
Subscriber Age              0
State                       0
Zip Code                    0
SubscribedFromDate          0
Internet Service            0
SMS Service                 0
Churn Status                0
dtype: int64

In [12]:
#drop rows or column consisting missing values.
dfsubscribers.dropna(axis=0,how='any')

,SubscriberIdentityNumber,Phone Number,Subscriber Name,SSN,Subscriber Age,State,Zip Code,SubscribedFromDate,Internet Service,SMS Service,Churn Status
0,345278656547333,1654788999,Mike,214448881,25,Arizona,85005,1/12/2018,Active,Active,Active
1,345278666547334,1888777222,John,214448882,15,Florida,33130,12/12/2018,Active,Active,Active
2,345278676547335,1122765445,James,214448883,45,Newyork,10005,5/25/2018,Active,Active,Active
3,345278686547336,10,Robert,214448884,62,Newyork,10006,11/5/2017,InActive,Active,Active
4,345278696547337,1590741891,Thomas,214448885,15,Newyork,10007,4/18/2017,Active,Active,Active
...,...,...,...,...,...,...,...,...,...,...,...
500,345283606547828,1526695270,Nicholos,214449376,33,Michigan,49735,12/9/2018,Active,Active,Active
501,345283616547829,1526695271,Samuel,214449377,23,Michigan,49735,12/10/2018,Active,Active,Active
502,345283626547830,1526695272,Jose,214449378,78,Michigan,49735,12/11/2018,Active,Active,Active
503,345283636547831,1526695273,Henry,214449379,68,Michigan,49735,12/12/2018,InActive,Active,Active
504,345283646547832,1526695274,Austin,214449380,57,Michigan,49735,12/13/2018,InActive,Active,Active

# Duplicates----------

In [13]:
#Returns a count of duplicated records.
dfsubscribers.duplicated(subset=None, keep='first').sum()

5

In [14]:
#returns shape of Dataframe.
dfsubscribers.shape

(505, 11)

In [15]:
#To drop a duplicate records.
dfsubscribers.drop_duplicates(subset=None, keep='first', inplace=True)

In [16]:
#returns shape of Dataframe.
dfsubscribers.shape

(500, 11)

# Noisy Data------------

In [17]:
#Method to find a noisy Data in a dataFrame.
zscore_PN=np.abs(stats.zscore(dfsubscribers['Phone Number']))

In [18]:
#return rows containing noisy data. 
np.where(zscore_PN > 3)

(array([ 3,  5,  6, 13, 16], dtype=int64),)

In [19]:
#Accesing particular Column Or rows or sub DataFrame With iloc.
dfsubscribers.iloc[3]

SubscriberIdentityNumber    345278686547336
Phone Number                             10
Subscriber Name                      Robert
SSN                               214448884
Subscriber Age                           62
State                               Newyork
Zip Code                              10006
SubscribedFromDate                11/5/2017
Internet Service                   InActive
SMS Service                          Active
Churn Status                         Active
Name: 3, dtype: object

In [20]:
#To Drop a List of Rows.
dfsubscribers.drop([ 3,  5,  6, 13, 16], axis=0, inplace=True)

In [21]:
#returns shape of Dataframe.
dfsubscribers.shape

(495, 11)

In [22]:
#To store a dataframe as per the file format.
dfsubscribers.to_csv('processed_subscribersData.csv',encoding='utf-8',index=False)

# #Transformation

In [23]:
#To read a CSV file.
dfActivity=pd.read_csv('ActivityData.csv', header=None)

In [24]:
#print a topmost rows of dataframe.
dfActivity.head()

                            0     1               2    3
0  1654788999-345278656547333   2.0     Phone Call-  NaN
1  1888777222-345278666547334   0.0            SMS-    Y
2  1122765445-345278676547335  10.0  Internet Data-  NaN
3  1356753668-345278686547336   1.0  Phone Call-111  NaN
4  1590741891-345278696547337   2.0  Phone Call-111  NaN

In [25]:
#returns shape of Dataframe.
dfActivity.shape

(1000, 4)

In [26]:
#This method is used to replace a vacant spaces with NaN.
dfActivity.replace('',np.NaN, inplace=True)

In [27]:
#returns count of all NaN.
dfActivity.isna().sum()

0      0
1      0
2      0
3    980
dtype: int64

In [28]:
#to drop a Missing values column.
dfActivity.drop([3], axis=1,inplace=True)

In [29]:
#returns shape of Dataframe.
dfActivity.shape

(1000, 3)

In [30]:
#print a dataframe.
dfActivity.head()

                            0     1               2
0  1654788999-345278656547333   2.0     Phone Call-
1  1888777222-345278666547334   0.0            SMS-
2  1122765445-345278676547335  10.0  Internet Data-
3  1356753668-345278686547336   1.0  Phone Call-111
4  1590741891-345278696547337   2.0  Phone Call-111

In [31]:
#Attribute Labels as per the attribute features.
dfActivity.columns=['Phone Number-Subscriber Identity Number','Duration','Activity-ErrorCode']

In [32]:
#print a topmost rows.
dfActivity.head()

  Phone Number-Subscriber Identity Number  Duration Activity-ErrorCode
0              1654788999-345278656547333       2.0        Phone Call-
1              1888777222-345278666547334       0.0               SMS-
2              1122765445-345278676547335      10.0     Internet Data-
3              1356753668-345278686547336       1.0     Phone Call-111
4              1590741891-345278696547337       2.0     Phone Call-111

In [33]:
#Split a column features.
dfActivity[['Phone Number','Subscriber Identity Number']]=dfActivity['Phone Number-Subscriber Identity Number'].str.split('-',n=1, expand=True)

In [34]:
#Split a column features.
dfActivity[['Activity','Error Code']]=dfActivity['Activity-ErrorCode'].str.split('-',n=1,expand=True)

In [35]:
#print a topmost row to check.
dfActivity.head()

,Phone Number-Subscriber Identity Number,Duration,Activity-ErrorCode,Phone Number,Subscriber Identity Number,Activity,Error Code
0,1654788999-345278656547333,2.0,Phone Call-,1654788999,345278656547333,Phone Call,
1,1888777222-345278666547334,0.0,SMS-,1888777222,345278666547334,SMS,
2,1122765445-345278676547335,10.0,Internet Data-,1122765445,345278676547335,Internet Data,
3,1356753668-345278686547336,1.0,Phone Call-111,1356753668,345278686547336,Phone Call,111
4,1590741891-345278696547337,2.0,Phone Call-111,1590741891,345278696547337,Phone Call,111

In [36]:
#Drop a previous unsplitted columns.
dfActivity.drop(['Phone Number-Subscriber Identity Number','Activity-ErrorCode'],axis=1,inplace=True)

In [37]:
#To print a dataframe.
dfActivity.head()

   Duration Phone Number Subscriber Identity Number       Activity Error Code
0       2.0   1654788999            345278656547333     Phone Call
1       0.0   1888777222            345278666547334            SMS
2      10.0   1122765445            345278676547335  Internet Data
3       1.0   1356753668            345278686547336     Phone Call        111
4       2.0   1590741891            345278696547337     Phone Call        111

In [38]:
#replace a vacant spaces with NaN Values.
dfActivity.replace('', np.NaN, inplace=True)

In [39]:
#To count total missing values.
dfActivity.isna().sum()

Duration                        0
Phone Number                    0
Subscriber Identity Number      0
Activity                        0
Error Code                    870
dtype: int64

In [40]:
#replace a missing values with value-0.
dfActivity['Error Code'].fillna(0, inplace=True)

In [41]:
dfActivity.head()

   Duration Phone Number Subscriber Identity Number       Activity Error Code
0       2.0   1654788999            345278656547333     Phone Call          0
1       0.0   1888777222            345278666547334            SMS          0
2      10.0   1122765445            345278676547335  Internet Data          0
3       1.0   1356753668            345278686547336     Phone Call        111
4       2.0   1590741891            345278696547337     Phone Call        111

In [42]:
dfActivity.to_csv('processed_ActivityData.csv',index=False)